<h3>Add a division:</h3>

<form action="/divisions" method="post">
  <div class="form-group">
    <label for="name">Enter the name of the division:</label>
    <input id="name" name="name" type="text">
  </div>

  <button type="submit">Add division</button>
</form>
