<h3>Here are all the employees:</h3>

<% if @employees.any?() %>

  <ul>
    <% @employees.each() do |employee| %>
      <li><%= employee.name() %>
        <a href='/employees/<%= employee.id() %>'>
          <p>Update this employee</p>
        </a>
      </li>
    <% end %>
  </ul>

<% else %>

  <p>There are no employees.</p>

<% end %>

<a href='/employees/add'>Add a new employee</a>
<br>
<a href='/'>Return to Index</a>
