<h3>Add a new employee:</h3>

<form action="/employees" method="post">
  <div class="form-group">
    <label for="name">Enter the name of the employee:</label>
    <input id="name" name="name" type="text">
  </div>

  <button type="submit">Add employee</button>
</form>
